<h1>Bienvenue sur la page Team <br/> <br/></h1>

<div class="card-deck">


<div class="card mb-3 bg-secondary">
  <img class="card-img-top" src="https://media.giphy.com/media/61Z26Pd1HRM6RP0M4S/giphy.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Lilas</h5>
    <p class="card-text"> Spécialiste de l'agro, Lilas se servira de ses skills de pirate pour sauver l'agriculture urbaine</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card">
  <div class="card-body bg-success">
    <h5 class="card-title">Oma</h5>
    <p class="card-text">
    	Nobody : Yeay, the virtual machine on Windows is sooo great <br/>
    	Oma : *installs the virtual machine*</p>
  </div>
  <img class="card-img-bottom" src="https://media1.giphy.com/media/26hiu3mZVquuykwhy/giphy.gif" alt="Card image cap">
</div>

<div class="card mb-3 bg-warning">
  <img class="card-img-top" src="https://media2.giphy.com/media/ngzhAbaGP1ovS/source.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Theo</h5>
    <p class="card-text">Ride fast, code fast</p>
  </div>
</div>

<div class="card">
  <div class="card-body bg-info">
    <h5 class="card-title">Mahaut</h5>
    <p class="card-text">*I've no idea what I'm doing*</p>
  </div>
  <img class="card-img-bottom" src="https://media.giphy.com/media/iNQ2cIve8rUqI/giphy.gif" alt="Card image cap">
</div>

</div>

